rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email in ["help@wildsaura.com"];
    }

    match /galleries/{galleryId}/{fileName} {
      allow read: if true;
      allow create, update: if isAdmin()
        && request.resource.size <= 200 * 1024 * 1024
        && (request.resource.contentType == "image/webp"
          || request.resource.contentType.matches("video/.*"));
      allow delete: if isAdmin();
    }

    match /hero/{fileName} {
      allow read: if true;
      allow create, update: if isAdmin()
        && request.resource.size <= 10 * 1024 * 1024
        && request.resource.contentType == "image/webp";
      allow delete: if isAdmin();
    }
  }
}
